.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893066;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.669434;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:2.040000px;}
._2{width:5.520000px;}
._0{width:58.680000px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:26.000000px;}
.fs4{font-size:38.000000px;}
.fs1{font-size:40.000000px;}
.fs5{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:64.000000px;}
.fs2{font-size:72.000000px;}
.y46{bottom:3.162996px;}
.y30{bottom:3.162998px;}
.y42{bottom:3.163000px;}
.y52{bottom:3.163006px;}
.yd{bottom:3.596000px;}
.y28{bottom:13.727999px;}
.y4a{bottom:14.661997px;}
.y11{bottom:14.661999px;}
.y41{bottom:14.662001px;}
.y65{bottom:14.662003px;}
.y51{bottom:14.662004px;}
.y25{bottom:15.811995px;}
.y16{bottom:15.811999px;}
.y5e{bottom:18.894999px;}
.y6{bottom:19.433001px;}
.y40{bottom:26.160994px;}
.y10{bottom:26.160999px;}
.y50{bottom:26.161001px;}
.y6a{bottom:26.161005px;}
.y24{bottom:27.310995px;}
.y15{bottom:27.310999px;}
.y37{bottom:28.461000px;}
.y5{bottom:32.656000px;}
.y3f{bottom:37.659996px;}
.yf{bottom:37.659998px;}
.y4f{bottom:37.660004px;}
.y2d{bottom:38.809996px;}
.y23{bottom:38.809998px;}
.y36{bottom:39.959997px;}
.yb{bottom:40.590002px;}
.y4{bottom:45.879000px;}
.y3e{bottom:49.158997px;}
.y49{bottom:49.158998px;}
.y4e{bottom:49.159003px;}
.y22{bottom:50.308996px;}
.y2c{bottom:50.308998px;}
.y35{bottom:51.459000px;}
.ya{bottom:53.813002px;}
.y3{bottom:59.102001px;}
.y3d{bottom:60.657997px;}
.y4d{bottom:60.658003px;}
.y21{bottom:61.807991px;}
.y2b{bottom:61.807999px;}
.y34{bottom:62.958000px;}
.y62{bottom:63.688003px;}
.y9{bottom:67.036001px;}
.y3c{bottom:72.156998px;}
.y7{bottom:72.791000px;}
.y20{bottom:73.306990px;}
.y2a{bottom:73.306997px;}
.y33{bottom:74.456999px;}
.y2{bottom:74.658001px;}
.y2f{bottom:75.301975px;}
.y8{bottom:80.259001px;}
.y5b{bottom:81.454980px;}
.y31{bottom:83.000000px;}
.y3b{bottom:83.655998px;}
.y1f{bottom:84.805996px;}
.y5a{bottom:92.954027px;}
.y3a{bottom:95.154997px;}
.y1e{bottom:96.304995px;}
.y1d{bottom:107.803991px;}
.y59{bottom:115.951989px;}
.y1c{bottom:119.302994px;}
.y2e{bottom:121.298021px;}
.y58{bottom:127.450975px;}
.y1b{bottom:130.801993px;}
.y1a{bottom:142.300993px;}
.y29{bottom:144.295998px;}
.y57{bottom:150.448998px;}
.y56{bottom:161.948002px;}
.y0{bottom:181.500000px;}
.y55{bottom:207.943994px;}
.y54{bottom:219.442989px;}
.y27{bottom:225.939013px;}
.y26{bottom:249.436993px;}
.y19{bottom:263.235992px;}
.y53{bottom:276.938012px;}
.y6d{bottom:287.735986px;}
.y4c{bottom:288.436996px;}
.y6c{bottom:299.235009px;}
.y6b{bottom:310.734002px;}
.y69{bottom:322.232986px;}
.y4b{bottom:357.430993px;}
.y48{bottom:368.929989px;}
.y5c{bottom:370.000000px;}
.y68{bottom:391.727001px;}
.y67{bottom:405.525997px;}
.y18{bottom:414.372997px;}
.y47{bottom:426.425012px;}
.y17{bottom:428.172001px;}
.y45{bottom:437.924000px;}
.y66{bottom:463.521008px;}
.y14{bottom:474.168003px;}
.y64{bottom:477.320000px;}
.y44{bottom:483.920007px;}
.y43{bottom:495.919003px;}
.y39{bottom:509.718002px;}
.y13{bottom:509.815006px;}
.y63{bottom:512.316998px;}
.y61{bottom:526.115997px;}
.y12{bottom:556.311001px;}
.ye{bottom:570.110004px;}
.y60{bottom:595.610002px;}
.y5f{bottom:607.108997px;}
.y38{bottom:613.209002px;}
.yc{bottom:616.605999px;}
.y1{bottom:630.404999px;}
.y32{bottom:636.207001px;}
.y5d{bottom:676.103001px;}
.h15{height:13.499000px;}
.h6{height:15.799000px;}
.h1a{height:18.065430px;}
.he{height:24.997999px;}
.h9{height:27.089844px;}
.hf{height:27.109375px;}
.ha{height:27.773438px;}
.h4{height:27.792969px;}
.h1c{height:29.326172px;}
.h10{height:29.820312px;}
.hd{height:30.572266px;}
.h7{height:32.531250px;}
.h1b{height:36.497002px;}
.hb{height:37.646999px;}
.h3{height:44.468750px;}
.h19{height:44.896999px;}
.h8{height:47.995998px;}
.h5{height:48.796875px;}
.h16{height:59.494999px;}
.h17{height:70.994003px;}
.h11{height:83.642998px;}
.h13{height:84.792999px;}
.h2{height:90.595001px;}
.h14{height:105.490997px;}
.hc{height:152.636993px;}
.h18{height:321.500000px;}
.h12{height:414.000000px;}
.h1{height:519.500000px;}
.h0{height:792.000000px;}
.w5{width:65.000000px;}
.w6{width:65.900002px;}
.w8{width:150.500000px;}
.w9{width:160.399994px;}
.w2{width:161.600006px;}
.w7{width:173.899994px;}
.wb{width:227.899994px;}
.wa{width:254.899994px;}
.w4{width:353.899994px;}
.w1{width:479.000000px;}
.w3{width:480.799988px;}
.w0{width:612.000000px;}
.x1{left:6.400000px;}
.x11{left:9.510000px;}
.xc{left:17.085001px;}
.x10{left:18.123000px;}
.xe{left:20.345000px;}
.x9{left:24.400000px;}
.x6{left:30.747000px;}
.xa{left:42.400000px;}
.x15{left:48.933001px;}
.x3{left:50.305998px;}
.xf{left:59.499999px;}
.x0{left:66.500000px;}
.x16{left:68.801001px;}
.x8{left:79.042998px;}
.x5{left:86.230002px;}
.x7{left:94.106001px;}
.x2{left:225.200006px;}
.x12{left:237.499994px;}
.x14{left:318.499994px;}
.x4{left:384.800012px;}
.x13{left:385.999994px;}
.xb{left:417.499994px;}
.xd{left:480.499994px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:2.720000pt;}
._2{width:7.360000pt;}
._0{width:78.240000pt;}
.fs6{font-size:34.666667pt;}
.fs4{font-size:50.666667pt;}
.fs1{font-size:53.333333pt;}
.fs5{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:85.333333pt;}
.fs2{font-size:96.000000pt;}
.y46{bottom:4.217328pt;}
.y30{bottom:4.217331pt;}
.y42{bottom:4.217333pt;}
.y52{bottom:4.217341pt;}
.yd{bottom:4.794666pt;}
.y28{bottom:18.303998pt;}
.y4a{bottom:19.549329pt;}
.y11{bottom:19.549332pt;}
.y41{bottom:19.549334pt;}
.y65{bottom:19.549337pt;}
.y51{bottom:19.549339pt;}
.y25{bottom:21.082659pt;}
.y16{bottom:21.082666pt;}
.y5e{bottom:25.193333pt;}
.y6{bottom:25.910667pt;}
.y40{bottom:34.881325pt;}
.y10{bottom:34.881332pt;}
.y50{bottom:34.881335pt;}
.y6a{bottom:34.881340pt;}
.y24{bottom:36.414660pt;}
.y15{bottom:36.414665pt;}
.y37{bottom:37.948001pt;}
.y5{bottom:43.541334pt;}
.y3f{bottom:50.213328pt;}
.yf{bottom:50.213331pt;}
.y4f{bottom:50.213338pt;}
.y2d{bottom:51.746661pt;}
.y23{bottom:51.746663pt;}
.y36{bottom:53.279996pt;}
.yb{bottom:54.120003pt;}
.y4{bottom:61.172000pt;}
.y3e{bottom:65.545329pt;}
.y49{bottom:65.545331pt;}
.y4e{bottom:65.545338pt;}
.y22{bottom:67.078662pt;}
.y2c{bottom:67.078664pt;}
.y35{bottom:68.612000pt;}
.ya{bottom:71.750669pt;}
.y3{bottom:78.802668pt;}
.y3d{bottom:80.877330pt;}
.y4d{bottom:80.877337pt;}
.y21{bottom:82.410655pt;}
.y2b{bottom:82.410665pt;}
.y34{bottom:83.944000pt;}
.y62{bottom:84.917337pt;}
.y9{bottom:89.381335pt;}
.y3c{bottom:96.209330pt;}
.y7{bottom:97.054667pt;}
.y20{bottom:97.742653pt;}
.y2a{bottom:97.742663pt;}
.y33{bottom:99.275998pt;}
.y2{bottom:99.544001pt;}
.y2f{bottom:100.402634pt;}
.y8{bottom:107.012001pt;}
.y5b{bottom:108.606640pt;}
.y31{bottom:110.666667pt;}
.y3b{bottom:111.541331pt;}
.y1f{bottom:113.074661pt;}
.y5a{bottom:123.938703pt;}
.y3a{bottom:126.873329pt;}
.y1e{bottom:128.406659pt;}
.y1d{bottom:143.738655pt;}
.y59{bottom:154.602652pt;}
.y1c{bottom:159.070658pt;}
.y2e{bottom:161.730695pt;}
.y58{bottom:169.934634pt;}
.y1b{bottom:174.402658pt;}
.y1a{bottom:189.734657pt;}
.y29{bottom:192.394663pt;}
.y57{bottom:200.598665pt;}
.y56{bottom:215.930669pt;}
.y0{bottom:242.000000pt;}
.y55{bottom:277.258658pt;}
.y54{bottom:292.590652pt;}
.y27{bottom:301.252017pt;}
.y26{bottom:332.582657pt;}
.y19{bottom:350.981323pt;}
.y53{bottom:369.250683pt;}
.y6d{bottom:383.647981pt;}
.y4c{bottom:384.582662pt;}
.y6c{bottom:398.980012pt;}
.y6b{bottom:414.312003pt;}
.y69{bottom:429.643982pt;}
.y4b{bottom:476.574657pt;}
.y48{bottom:491.906652pt;}
.y5c{bottom:493.333333pt;}
.y68{bottom:522.302668pt;}
.y67{bottom:540.701330pt;}
.y18{bottom:552.497330pt;}
.y47{bottom:568.566682pt;}
.y17{bottom:570.896001pt;}
.y45{bottom:583.898666pt;}
.y66{bottom:618.028010pt;}
.y14{bottom:632.224004pt;}
.y64{bottom:636.426666pt;}
.y44{bottom:645.226676pt;}
.y43{bottom:661.225337pt;}
.y39{bottom:679.624003pt;}
.y13{bottom:679.753342pt;}
.y63{bottom:683.089330pt;}
.y61{bottom:701.487996pt;}
.y12{bottom:741.748001pt;}
.ye{bottom:760.146673pt;}
.y60{bottom:794.146669pt;}
.y5f{bottom:809.478663pt;}
.y38{bottom:817.612002pt;}
.yc{bottom:822.141332pt;}
.y1{bottom:840.539998pt;}
.y32{bottom:848.276001pt;}
.y5d{bottom:901.470668pt;}
.h15{height:17.998666pt;}
.h6{height:21.065333pt;}
.h1a{height:24.087240pt;}
.he{height:33.330666pt;}
.h9{height:36.119792pt;}
.hf{height:36.145833pt;}
.ha{height:37.031250pt;}
.h4{height:37.057292pt;}
.h1c{height:39.101562pt;}
.h10{height:39.760417pt;}
.hd{height:40.763021pt;}
.h7{height:43.375000pt;}
.h1b{height:48.662669pt;}
.hb{height:50.195999pt;}
.h3{height:59.291667pt;}
.h19{height:59.862666pt;}
.h8{height:63.994665pt;}
.h5{height:65.062500pt;}
.h16{height:79.326665pt;}
.h17{height:94.658671pt;}
.h11{height:111.523997pt;}
.h13{height:113.057332pt;}
.h2{height:120.793335pt;}
.h14{height:140.654663pt;}
.hc{height:203.515991pt;}
.h18{height:428.666667pt;}
.h12{height:552.000000pt;}
.h1{height:692.666667pt;}
.h0{height:1056.000000pt;}
.w5{width:86.666667pt;}
.w6{width:87.866669pt;}
.w8{width:200.666667pt;}
.w9{width:213.866659pt;}
.w2{width:215.466675pt;}
.w7{width:231.866659pt;}
.wb{width:303.866659pt;}
.wa{width:339.866659pt;}
.w4{width:471.866659pt;}
.w1{width:638.666667pt;}
.w3{width:641.066650pt;}
.w0{width:816.000000pt;}
.x1{left:8.533333pt;}
.x11{left:12.680000pt;}
.xc{left:22.780001pt;}
.x10{left:24.164000pt;}
.xe{left:27.126666pt;}
.x9{left:32.533333pt;}
.x6{left:40.996000pt;}
.xa{left:56.533333pt;}
.x15{left:65.244001pt;}
.x3{left:67.074664pt;}
.xf{left:79.333331pt;}
.x0{left:88.666667pt;}
.x16{left:91.734668pt;}
.x8{left:105.390664pt;}
.x5{left:114.973336pt;}
.x7{left:125.474669pt;}
.x2{left:300.266675pt;}
.x12{left:316.666658pt;}
.x14{left:424.666658pt;}
.x4{left:513.066683pt;}
.x13{left:514.666658pt;}
.xb{left:556.666658pt;}
.xd{left:640.666658pt;}
}
